/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
!.env.example.php
.DS_Store
Thumbs.db
/.idea
/.vagrant
/bootstrap/environment.php
/npm-debug.log


# has a bug on windows, it nests too deep and git can save it
# `npm install` to install it
/node_modules/gulp
